body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
}
 .list {
    list-style: none;
 }
 .link {
    text-decoration: none;
 }

 /* HEADER */
 .header_logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
}
.logo_blue {
    color: rgba(33, 150, 243, 1);
}
.header_link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}
.header_link:hover, 
.header_link:focus{
    color: #2196F3;
}
.header_link_cont {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}
.header_link_cont:hover,
.header_link_cont:focus {
    color: #2196F3;
}

/* CAP */
.cap {
    background-color: #2F303A;;
}
.cap_title {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.cap_btn {
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    cursor: pointer;
    background-color: #2196F3;
}
.cap_btn:hover,
.cap_btn:focus {
    background-color: #2196F3;
    color: #FFFFFF;
}

/*FEAUTERS */
.features_title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.features_text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

/* ABOUT */
.about_title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

/* TEAM */
.team_title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}
.team_name {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.team_text {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #757575;
}

/* FOOTER */
.footer {
    background-color: #2F303A;
}
.footer_logo{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.location_link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.footer_link_cont {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.footer_link_cont:hover,
.footer_link_cont:focus {
    color: #2196F3;
}
/* --------PORTFOLIO--------*/
/* FILTRATION */
.filt_btn {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: #F5F4FA;
    border: none;
    cursor: pointer;
}
.filt_btn:hover,
.filt_btn:focus {
    background-color: #2196F3;
    color: #FFFFFF;
}
.projects_name {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.projects_text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;
}